
.typographyUi80ExtraLight 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyUi32Regular 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyUi32Extrabold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyUi24Regular 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyUi24Extrabold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyUi14Regular 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyUi14Semibold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyUi12Regular 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyUi12RegularUnderline 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyUi12RegularItalic 
{ 
  
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyUi12Medium 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyUi12Semibold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyUi12SemiboldUnderline 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyUi12SemiboldCaps 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.03em; 
  text-indent: 0px; 
}    

.typographyText12Semibold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyText12Regular 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyText12RegularUnderline 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyText12Medium 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyText11Regular 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyText11RegularUnderline 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyText11RegularItalic 
{ 
  
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyUi11Regular 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyUi11RegularCaps 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0.03em; 
  text-indent: 0px; 
}    

.typographyUi11Semibold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyUi11SemiboldCaps 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0.04em; 
  text-indent: 0px; 
}    

.typographyCode12Medium 
{ 
  
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyCode12Regular 
{ 
  
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyCode11Regular 
{ 
  
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyCode11Medium 
{ 
  
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyCode11MediumUnderline 
{ 
  
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyCode11MediumItalic 
{ 
  
  font-family: "Fira Mono";
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyCode11Bold 
{ 
  
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocs40Bold670_ 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocs40Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocs32Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocs32BoldUnderline 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocs28Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocs28BoldUnderline 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocs24Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocs24BoldUnderline 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocs20Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocs20Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocs20BoldUnderline 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocs16Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocs16RegularUnderline 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocs16ItalicUnderline 
{ 
  
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocs16Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocs16Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocs14Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocs14RegularUnderline 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocs14Semibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocs14Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocs13Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocs12Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocs12RegularUnderline 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocs12Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocs14InlineCode 
{ 
  
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocs11BoldCaps 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0.04em; 
  text-indent: 0px; 
}    

.typographyUi11SemiboldCapsUnderline 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0.04em; 
  text-indent: 0px; 
}    

.typographyUi11Medium 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyText11MediumUnderline 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyUi10SemiboldCaps 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyUi80ExtraLight 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyUi32Regular 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyUi32Extrabold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyUi24Regular 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyUi24Extrabold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyUi14Regular 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyUi14Semibold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyUi12Regular 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyUi12RegularUnderline 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyUi12RegularItalic 
{ 
  
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyUi12Medium 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyUi12Semibold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyUi12SemiboldUnderline 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyUi12SemiboldCaps 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.03em; 
  text-indent: 0px; 
}    

@mixin typographyText12Semibold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyText12Regular 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyText12RegularUnderline 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyText12Medium 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyText11Regular 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyText11RegularUnderline 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyText11RegularItalic 
{ 
  
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyUi11Regular 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyUi11RegularCaps 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0.03em; 
  text-indent: 0px; 
}    

@mixin typographyUi11Semibold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyUi11SemiboldCaps 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0.04em; 
  text-indent: 0px; 
}    

@mixin typographyCode12Medium 
{ 
  
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyCode12Regular 
{ 
  
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyCode11Regular 
{ 
  
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyCode11Medium 
{ 
  
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyCode11MediumUnderline 
{ 
  
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyCode11MediumItalic 
{ 
  
  font-family: "Fira Mono";
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyCode11Bold 
{ 
  
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocs40Bold670_ 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocs40Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocs32Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocs32BoldUnderline 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocs28Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocs28BoldUnderline 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocs24Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocs24BoldUnderline 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocs20Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocs20Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocs20BoldUnderline 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocs16Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocs16RegularUnderline 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocs16ItalicUnderline 
{ 
  
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocs16Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocs16Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocs14Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocs14RegularUnderline 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocs14Semibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocs14Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocs13Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocs12Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocs12RegularUnderline 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocs12Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocs14InlineCode 
{ 
  
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocs11BoldCaps 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0.04em; 
  text-indent: 0px; 
}    

@mixin typographyUi11SemiboldCapsUnderline 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0.04em; 
  text-indent: 0px; 
}    

@mixin typographyUi11Medium 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyText11MediumUnderline 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyUi10SemiboldCaps 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

